#Data structures in Python

## 1. Lists

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [3]:
names=["mukund","mayur","om",1,2,3,4,5,]
print(names)

['mukund', 'mayur', 'om', 1, 2, 3, 4, 5]

In [4]:
mixed_list=[1,"mukund",3.12,True]
print(mixed_list)

[1, 'mukund', 3.12, True]

In [15]:
#accessing list elements
fruits=["mango","chiku","apple","kivi"]
print(fruits[2])
print(fruits[-1])
print(fruits[0])

apple
kivi
mango

In [16]:
#get multiple elements
print(fruits[1:])
print(fruits[1:3])

['chiku', 'apple', 'kivi']
['chiku', 'apple']

In [17]:
#modifying list elements
fruits[2]="guava"
print(fruits)

['mango', 'chiku', 'guava', 'kivi']

In [19]:
#List Methods
#1 . append
fruits.append("apple")
print(fruits)

['mango', 'chiku', 'guava', 'kivi', 'apple']

In [20]:
#2.remove
fruits.remove("mango")
print(fruits)

['chiku', 'guava', 'kivi', 'apple']

In [24]:
#3. insert
fruits.insert(0,"mango")
print(fruits)

['mango', 'mango', 'mango', 'mango', 'chiku', 'guava', 'kivi', 'apple']

In [41]:
#4. pop

fruits=["mango","chiku","apple","guava","kivi"]
fruits.pop()
print(fruits)

['mango', 'chiku', 'apple', 'guava']

In [43]:
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'chiku', 'guava', 'mango']
['mango', 'guava', 'chiku', 'apple']

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
# iterating over list
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [9]:
#with index use enumerate
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
#List comprehension basic syntax

square=[x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#with conditional logic
en=[num for num in range(10) if num%2==0]
print(en)

[0, 2, 4, 6, 8]

In [6]:
# Nested list comprehension

lst1=[1,2,3]
lst2=["a","b","c"]

mix=[[i,j] for i in lst1 for j in lst2]
print(mix)

[[1, 'a'], [1, 'b'], [1, 'c'], [2, 'a'], [2, 'b'], [2, 'c'], [3, 'a'], [3, 'b'], [3, 'c']]

## tuples 
A tuple is a collection which is ordered and unchangeable. Allows duplicate members.

```python

In [7]:
#creating the tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [9]:

num=(1,2,3,4,5,6)
num
letter=("mukund",1,3.14,True)

In [5]:
#accessing tuple 
print(num[0])
print(num[4])
print(num[0:3])

1
5
[1, 2, 3]

In [11]:
#TUPLE OPERTAION
#1. concatination
conc_tuple= num + letter
print(conc_tuple)

(1, 2, 3, 4, 5, 6, 'mukund', 1, 3.14, True)

In [14]:
#packing and unpacking tuple 
#packing
p_tuple=1,3.14,"mukund"
print(p_tuple)
#unpacking
a,b,c=p_tuple
print(a)
print(b)
print(c)

(1, 3.14, 'mukund')
1
3.14
mukund

In [1]:
#nested iterating
nested_tpl=((1,2,3),("mukund","patil"),(3.14,4,))

In [3]:
for tpl in nested_tpl:
    for vastu in tpl:
        print(vastu,end=" ")
    print()

1 2 3
mukund patil
3.14 4

## SETS 
sets are collections which are unordered, unchangeable, and do not allow duplicate members.

```python

In [4]:
# creating a sets 
my_set={1,2,3,4,5,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [7]:
#add or remove elements
my_set.add(7)
print(my_set)
my_set.remove(4)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [8]:
#pop 
my_set.pop()
print(my_set)

{2, 3, 5, 6, 7}

In [13]:
#mathematical operation 
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,0}
u_set=set1.union(set2)
print(u_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:

#intersection
i_set=set1.intersection(set2)
print(i_set)

{6, 7}

In [17]:
# intersection_update
set1.intersection_update(set2)
print(set1)

{6, 7}

In [ ]:
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,0}
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7}
{0, 6, 7, 8, 9}