#Data structures in Python

## 1. Lists

In [ ]:
lst=[]
print(type(lst))

In [ ]:
names=["mukund","mayur","om",1,2,3,4,5,]
print(names)

In [ ]:
mixed_list=[1,"mukund",3.12,True]
print(mixed_list)

In [ ]:
#accessing list elements
fruits=["mango","chiku","apple","kivi"]
print(fruits[2])
print(fruits[-1])
print(fruits[0])

In [ ]:
#get multiple elements
print(fruits[1:])
print(fruits[1:3])

In [ ]:
#modifying list elements
fruits[2]="guava"
print(fruits)

In [ ]:
#List Methods
#1 . append
fruits.append("apple")
print(fruits)

In [ ]:
#2.remove
fruits.remove("mango")
print(fruits)

In [ ]:
#3. insert
fruits.insert(0,"mango")
print(fruits)

In [ ]:
#4. pop

fruits=["mango","chiku","apple","guava","kivi"]
fruits.pop()
print(fruits)

In [ ]:
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

In [ ]:
# iterating over list
for number in numbers:
    print(number)

In [ ]:
#with index use enumerate
for index, number in enumerate(numbers):
    print(index, number)

In [ ]:
#List comprehension basic syntax

square=[x**2 for x in range(10)]
print(square)

In [ ]:
#with conditional logic
en=[num for num in range(10) if num%2==0]
print(en)

In [ ]:
# Nested list comprehension

lst1=[1,2,3]
lst2=["a","b","c"]

mix=[[i,j] for i in lst1 for j in lst2]
print(mix)

## tuples 
A tuple is a collection which is ordered and unchangeable. Allows duplicate members.

```python

In [ ]:
#creating the tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

In [ ]:

num=(1,2,3,4,5,6)
num
letter=("mukund",1,3.14,True)

In [ ]:
#accessing tuple 
print(num[0])
print(num[4])
print(num[0:3])

In [ ]:
#TUPLE OPERTAION
#1. concatination
conc_tuple= num + letter
print(conc_tuple)

In [ ]:
#packing and unpacking tuple 
#packing
p_tuple=1,3.14,"mukund"
print(p_tuple)
#unpacking
a,b,c=p_tuple
print(a)
print(b)
print(c)

In [ ]:
#nested iterating
nested_tpl=((1,2,3),("mukund","patil"),(3.14,4,))

In [ ]:
for tpl in nested_tpl:
    for vastu in tpl:
        print(vastu,end=" ")
    print()

## SETS 
sets are collections which are unordered, unchangeable, and do not allow duplicate members.

```python

In [ ]:
# creating a sets 
my_set={1,2,3,4,5,6}
print(my_set)
print(type(my_set))

In [ ]:
#add or remove elements
my_set.add(7)
print(my_set)
my_set.remove(4)
print(my_set)

In [ ]:
#pop 
my_set.pop()
print(my_set)

In [ ]:
#mathematical operation 
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,0}
u_set=set1.union(set2)
print(u_set)

In [ ]:

#intersection
i_set=set1.intersection(set2)
print(i_set)

In [ ]:
# intersection_update
set1.intersection_update(set2)
print(set1)

In [22]:
set1={1,2,3,4,5,6,7}
set2={6,7,8,9,0}
print(set1)
print(set2)
print("mukund mahesh patil \n roll no 49 \n shelti shahada nandurbar")

{1, 2, 3, 4, 5, 6, 7}
{0, 6, 7, 8, 9}
mukund mahesh patil
 roll no 49
 shelti shahada nandurbar

In [26]:
# diffrence
set2.difference(set1)

{0, 8, 9}

In [27]:
# symmentric difference
set1.symmetric_difference(set2)

{0, 1, 2, 3, 4, 5, 8, 9}

In [38]:
# sets methods
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [39]:
lst=[1,2,3,3,4,5,6,7,7]
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [41]:
# count the number of words in text 
text="mukund mahesh patil , rol no 49 pimpri chinchwad university"
word=text.split()

# convert words into set
un_set=set(word)
print(set(word))
print(len(un_set))

{'no', ',', 'mukund', 'rol', 'mahesh', '49', 'chinchwad', 'pimpri', 'university', 'patil'}
10

## dictionaries
A dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

```python

In [2]:
# creating a dictionaries
em_dic={}
print(type(em_dic))

<class 'dict'>

In [3]:
emp_dic=dict()
emp_dic

{}

In [5]:
student={"name":"mukund","age":21}
print(student)
print(type(student))

{'name': 'mukund', 'age': 21}
<class 'dict'>

In [10]:
# accessing the dict elements
print(student['age'])

21

In [11]:
# modifying the element of dict
student["age"]=20
student["address"]="shelti"
print(student)

{'name': 'mukund', 'age': 20, 'address': 'shelti'}

In [14]:
 # dict methods
student.keys()
student.values()
student.items()
std_copy=student # shallow copy
print(std_copy)
std_copy1=student.copy()
print(std_copy)

{'name': 'mukund', 'age': 20, 'address': 'shelti'}
{'name': 'mukund', 'age': 20, 'address': 'shelti'}

In [16]:
student['name']="mukund1"
print(student)
print(std_copy1)
print(std_copy)

{'name': 'mukund1', 'age': 20, 'address': 'shelti'}
{'name': 'mukund', 'age': 20, 'address': 'shelti'}
{'name': 'mukund1', 'age': 20, 'address': 'shelti'}

In [17]:
# itesrting over the dict
for keys in student.keys():
    print(keys)

name
age
address

In [18]:
for values in student.values():
    print(values)

mukund1
20
shelti

In [19]:
for keys,values in student.items():
    print(f"{keys}:{values}")

name:mukund1
age:20
address:shelti

In [20]:
# nested dict 
students={
    "student1":{"name":"mukund"},
    "student2":{"name":"mayur"},
    "student3":{"name":"rameshwar"}

}
print(students)

{'student1': {'name': 'mukund'}, 'student2': {'name': 'mayur'}, 'student3': {'name': 'rameshwar'}}

In [22]:
# access
print(students["student2"]["name"])
print(students["student1"]["name"])
print(students["student3"]["name"])

mayur
mukund
rameshwar

In [24]:
# dict comprehension
sqaure={x:x**2 for x in range(11)}
print(sqaure)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [25]:
# with condiotion 
evens={x:x**2 for x in range(21) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [3]:
# count the frquancy 
numbers=[1,2,2,3,3,3,4,4,4]
frq={}

for number in numbers:
    if number in frq:
        frq[number]+=1
    else:
        frq[number]=1
print(frq)

{1: 1, 2: 2, 3: 3, 4: 3}

In [4]:
# merge two dict into one dict
dict1={"a":1, "b":2}
dict2={"c":3,"d":4}
mdict={**dict1,**dict2}
print(mdict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
# to do list

tdl=["learn","write","read"]

# adding task\
tdl.append("cook")
# remove
tdl.remove("learn")
#check if task in remainig
if "write" in tdl:
    print("write a letter")
    
#remaoning task
print("you dont do this task today")
for task in tdl:
    print(f"-{task}")

write a letter
you dont do this task today
-write
-read
-cook

In [21]:
# feed back 
feedback=["great","exelent","good service"]
feedback.append("could have been better")
feedback.append("it really great experiance")


print(feedback[3:])

#positive feedback countr
pfc=sum(1 for comment in feedback if "great" in comment.lower() or  "exelent" in comment.lower() or "good" in comment.lower())
print(f"positive feedback count: {pfc}")

print("user feedbacks")
for comment in feedback:
    print(comment)

['could have been better', 'it really great experiance']
positive feedback count: 4
user feedbacks
great
exelent
good service
could have been better
it really great experiance